@import 'tailwindcss';

body {
  padding: 20px 90px;
  background: black;
}

@theme {
  --animate-shimmer: shimmer 1.4s infinite;

  @keyframes shimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }
}
